<div class="container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><div>Countries</div> </span>
    </div>
  </nav>
  <div class="row m-lg-1 m-md-1">
    <div
      class="col-sm-3 col-lg-4 col-md-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1"
      *ngFor="let country of countriesList"
    >
      <div class="m-md-2 m-lg-2">
        <div class="card card-block m-lg-1 m-md-1">
          <span>
            <div class="text-center">
              <img
                [alt]="country.name"
                [id]="country.name"
                [src]="country.img"
                class="img-thumbnail"
              />
              <p (click)="goToMatches(country)">{{ country.name }}</p>
              <!-- <div class="team-list__content t-SL">
                <div class="team-list__logo badge-70 SL"></div>
                <h3 class="team-list__name">Sri Lanka</h3>
                <div class="btn team-list__btn t-SL">TEAM PROFILE</div>
                <div class="team-list__gradient t-SL"></div>
              </div> -->
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
