.container {
  margin-top: 3.5%;
}
img {
  height: 200px;
  width: 200px;
  margin: auto;
}
tr {
  border-style: none !important;
  border-color: white;
}
@media only screen and (max-width: 768px) {
  nav {
    margin-bottom: 2%;
  }
  .container {
    margin-top: 12%;
  }
}
