<div class="container">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"><div>Teams</div></span>
    </div>
  </nav>
  <div class="container">
    <div
      class="col-sm-3 col-lg-4 col-md-3 col-lg-offset-1 col-md-offset-1 col-sm-offset-1"
      *ngFor="let team of teamList"
      [hidden]="!teamList"
    >
      <div class="card card-block text-center">
        <div class="card-header">
          <span class="card-title">
            {{ team.name }}
          </span>
        </div>
        <div class="card-body">
          <table class="table">
            <tbody>
              <ng-container *ngFor="let player of team.players; let i = index">
                <tr>
                  <td>
                    {{ player.name }}
                  </td>
                  <td *ngIf="team.players[i + 1]">
                    {{ player.name }}
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
